.menu
  display: flex
  height: 50px
  width: 100%
  background-color: $black-green
  ul
    list-style: none
  .menu_wrapper
    display: flex


.menu_catalog
  .menu_catalog_wrapper
    position: relative
    display: flex
    align-items: center
    cursor: pointer
    height: 50px
    max-width: 330px
    background-color: $white-green
  .menu_catalog_text
    margin-left: 25px
    font-size: 16px
    color: $white
    letter-spacing: 0.07em
    +monsM
  .burger
    display: flex
    position: absolute
    right: 4%


.menu_address
  display: flex
  align-items: center
  .menu_address_wrapper
    display: flex
    align-items: center
    margin-left: 24px

  &__address
    font-size: 15px
    letter-spacing: -0.015em
    color: $white
    +monsR
  &__icon
    margin-left: 5px
    cursor: pointer

    margin-bottom: 3px

.menu_delivery
  margin-left: 15px
  text-decoration: none
  font-size: 15px
  color: $white
  letter-spacing: -0.015em
  +monsM


.submenu
  li
    width: 100%
  background-color: $white
  position: absolute
  left: 0
  top: 100%
  width: 100%
  padding: 0
  opacity: 0
  transform: scaleY(0)
  transform-origin: 0 0
  transition: .5s ease-in-out
  display: flex
  flex-direction: column
  align-items: start
  .submenu_text
    margin-left: 12px
    color: $black
    font-size: 15px
    +monsL
  .submenu_link_wrapper
    display: flex
    justify-content: start
    align-items: center
    padding: 8px 25px

  a
    text-decoration: none

  li:hover
    .submenu_link_wrapper
      background-color: #FAFAFA
      .submenu_icon
        stroke: $button-green
      .submenu_text
        color: $button-green



.menu_catalog:hover
  .submenu
    opacity: 1
    transform: scaleY(1)


.menu_phone
  display: flex
  //width: 25%
  align-items: center
  justify-content: end
  //margin-left: 96px
  &__text
    font-size: 15px
    color: $white
    +monsR
  &__number
    text-decoration: none
    font-size: 15px
    color: $white
    margin-left: 3px
    +monsR
