.search
  display: flex
  align-items: center
  width: 50%
  position: relative
  margin-left: 206px
  margin-right: 51px
  input
    width: 100%
    padding: 14px 20px
    max-height: 46px
    background: $white
    border: 1px solid $border-grey
    box-sizing: border-box
    outline: 0
    border-radius: 10px
    font-size: 15px
    color: $grey
    +monsR

  &__button
    display: flex
    position: absolute
    border: 0
    right: 4%

    button
      border: 0
      background: none
      font-size: 15px
      color: $button-green
      +monsM